@font-face {
    font-family: potter;
    src: url(../fonts/HARRYP__.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: potter, sans-serif;
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/hogwarts.jpg);
    background-attachment: fixed;
    animation: appear 1s;
}

img {
    max-width: 80%;
}

header {
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    height: 10%;
}

main {
    display: flex;
    animation: appear 1s;
}

footer {
    height: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: black;
}

.character {
    margin: 50px 0px 0px 50px;
    padding: 10px;
    max-height : 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: 0.3rem solid rgb(56, 56, 56);
    border-radius: 10px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.left {
    width: 33%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    color: white;
    font-size: 38px;
}

.name {
    text-align: center;
    max-width: 80%;
    margin : 0 0 0 50px;
}

.title {
    cursor: pointer;
}

.character:hover {
    
}

@keyframes color {
    from {color: black;}
    to {color: aliceblue;}
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}