@font-face {
    font-family: potter;
    src: url(../fonts/HARRYP__.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: potter, sans-serif;
    color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/hogwarts.jpg);
    background-attachment: fixed;
}

img {
    max-width: 80%;
}

header {
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    height: 10%;
}

main {
    display: flex;
    animation: appear 1s;
}

footer {
    height: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: white;
}

.character {
    margin: 50px 0px 0px 50px;
    padding: 10px;
    max-height : 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: 0.3rem solid rgb(56, 56, 56);
    border-radius: 10px;
}

.left {
    width: 33%;
    color: white;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    color: white;
    font-size: 38px;
}

.name {
    text-align: center;
    max-width: 80%;
    margin : 0 0 0 50px;
}

.title {
    cursor: pointer;
}

@keyframes color {
    from {color: black;}
    to {color: aliceblue;}
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@media screen and (max-width:800px) {
    body {
        background-image: url(../images/responsive_wallpaper.jpg);
        background-size: contain;
    }
    
    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        animation: appear 1s;
    }

    .left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height : 60%;
        width: 100%;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

    .character {
        padding: 10px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        border: 0.3rem solid rgb(56, 56, 56);
        border-radius: 10px;
    }

    .login {
        display: none;
    }

    .right {
        background-color: rgba(0, 0, 0, 0.3);
    }
}